<h1>Admin Merchants</h1>

<ul>
  <% @merchants.each do |merchant| %>
    <section id="merchant-index-<%=merchant.id%>">
      <li><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></li>
    </section>
  <% end %>
</ul>