<br>
<br>
<h6>Invoice id: <%= @invoice.id %></h6>
<h6>Invoice Status: <%= @invoice.status %></h6>
<h6>Invoice Created Date: <%= @invoice.date_conversion %></h6>
<h6>Customer: <%= @invoice.customer_name %></h6>