<h1>Invoices Admin Page</h1>
<br>
<% @invoices.each do |invoice| %>
  <section id="invoice-<%= invoice.id %>">
    <p>Invoice # <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></p><br>
  </section>
<% end %><br>