<h1>Item Description</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
      <td><%= @item.description %></td>
      <td><%= @item.unit_price %></td>
    </tr>
  </tbody>
</table>